.App {
  font-family: sans-serif;
  text-align: center;
}

.wrapper {
  width: 50%;
  margin: 0 auto;
  height: 100%;
  border: 1px solid #1f272f;
  border-radius: 5px;
  text-align: left;
  display: flex;
  flex-direction: column;
  opacity: 0.7;
  color: #1f272f;
  overflow: hidden;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}

.header {
  width: 100%;
  background-color: #3f3f3f;
  color: #fff;
}
.row {
  display: flex;
  border-bottom: 1px solid #1f272f;
}

.wrapper .column {
  overflow: hidden;
  white-space: nowrap;
  padding: 8px 12px;
  border-right: 1px solid #1f272f;
}

.wrapper .column:last-child {
  border-right: 0;
}

.column {
  width: 100%;
  display: flex;
  flex: 1 0 0px;
  align-items: center;
  padding-right: 16px;
}

.body {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

.body :last-child {
  border-bottom: 0;
}

.btn {
  padding: 8px;
  border-radius: 15px;
  background: #febf13;
  color: #000;
  border-color: #e3e3e3;
}
